<li
  class="w-full border border-gray-200 dark:border-[#30363d] bg-white dark:bg-transparent shadow-sm rounded-lg p-4 hover:scale-105 transition-transform duration-300">
  <div class="w-full">
    <div class="mb-1">
      <a [href]="repo().html_url" target="_blank" class="text-md text-blue-600 dark:text-[#58a6ff] hover:underline">{{
        repo().name }}</a>
    </div>
    <p class="text-gray-600 dark:text-gray-400 text-sm">{{ repo().description || 'No description provided.' }}</p>

    <div class="flex flex-wrap gap-2 text-xs my-4">
      @for (topic of repo().topics; track topic) {
      <span class="bg-blue-50 dark:bg-[#121D2F] rounded-full px-2 py-1 text-blue-600 dark:text-[#58a6ff]">{{ topic
        }}</span>
      }
    </div>

    <div class="flex items-center text-xs text-gray-500 dark:text-gray-400 my-2 space-x-4">
      @if (repo().language) {
      <span class="flex items-center">
        <span class="w-2.5 h-2.5 rounded-full mr-1"
          [style.background-color]="repo().language | getLanguageColor"></span>
        {{ repo().language }}
      </span>
      }
      @if (repo().stargazers_count > 0) {
      <span class="flex items-center text-sm">
        <svg class="w-4 h-4 text-yellow-400 dark:text-yellow-500 mr-1" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z">
          </path>
        </svg>
        <span>{{ repo().stargazers_count }}</span>
      </span>
      }
      <span>{{ repo().updated_at | formatTimeAgo}}</span>
    </div>
  </div>
</li>
