<section class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-12">
  <aside class="lg:col-span-3">
    <app-user-profile-card />
  </aside>

  <section class="lg:col-span-9 space-y-12">
    <article>
      <app-stats />
    </article>

    <article>
      <app-projects />
    </article>

    <article class="hidden lg:block">
      <app-heat-map />
    </article>

    <footer class="pt-12 border-t border-gray-200/50 dark:border-gray-800/50">
      <app-footer />
    </footer>
  </section>
</section>
